/*Removes margin and padding from all elements*/
* {
    margin: 0;
    padding: 0;
}

/*Set primary background image*/
.extraBackground {
    background-image: url(./img/brown.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    max-width: 1920px;
    height: 1000px;
}

/*Set page direction, height/width and background border*/
.pageContainer {
    display: flex;
    flex-direction: column;

    font-family: Comic Sans MS, Comic Sans, cursive;

    height: 100%;
    max-width: 1920px;

    background-image: url(./img/leaf.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mainContainer {
    flex: 1;
    display: flex;
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/*Sidebar background, width/height, border and padding*/
.sidebar {
    background-color: rgba(250, 235, 215, 0.691);

    border-radius: 15px;

    height: 80%;
    width: 250px;

    margin-left: 100px;

    padding: 20px 25px;
}

 /*Set height and alignment of header*/
header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Header background color, border, content alignment, font and padding*/
header div {
    background-color: rgba(250, 235, 215, 0.691);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 30px 100px;

    font-size: 25px;
}

/*Title styling*/
header div p:first-child {
    font-size: 40px;

    text-decoration: underline;

    font-style: italic;
}

form {
    display: none;
}