/*Removes margin and padding from all elements*/
* {
    margin: 0;
    padding: 0;
}

/*Set background image*/
body {
    background-image: url(./img/brown.jpg);
    background-repeat: no-repeat;
}

/*Set page direction, width and background border*/
.pageContainer {
    display: flex;
    flex-direction: column;

    font-family: Comic Sans MS, Comic Sans, cursive;

    /*Maximum page width*/
    max-width: 1920px;

    background-image: url(./img/leaf.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer {
    display: flex;
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.sidebar {
    background-color: brown;
}

header {
    background-color: green;
}

form {
    display: none;
}